header
 {
  background-color: rgb(212, 158, 227);;
  padding: 20px 0;
  margin-bottom: 30px;
 }

 .header-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
