<div *ngIf="film">
  <div class="container">
    <h1>{{ film.nameOriginal || film.nameRu }}</h1>
    <img [src]="film.posterUrlPreview" alt="Photo" />
    <p>Production year: {{ film.year }}</p>
    <p>Description: {{ film.description }}</p>
    <button (click)="showOpinions = !showOpinions">
      {{ showOpinions ? 'Hide opinions' : 'Show opinions' }}
    </button>
    <button (click)="showActors = !showActors">
      {{ showActors ? 'Hide actors' : 'Show actors' }}
    </button>
  </div>
  <app-actors-detail class="wrapper" *ngIf="showActors"></app-actors-detail>
  <app-opinions *ngIf="showOpinions"></app-opinions>
  <app-footer [contentLoaded]="contentLoaded"></app-footer>
</div>
