/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh;
}

h1 {
  color: brown;
}
button {
  padding: 5px 10px;
  background-color: brown;
  border-radius: 5px;
  border: none;
  color: azure;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: rgb(211, 88, 88);
}
