.film-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок в ряду */
  grid-gap: 5px; /* Пространство между карточками */
}

.film-card {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  /* Другие стили для карточек фильмов */
}

.films-wrapper {
  margin: 0 auto;
  min-height: 100vh;
}

.films-desk {
  max-width: 1280px;
  margin: 0 auto;
}

.image {
  height: 280px;
  width: 80%;
}

.name-film {
  display: block;
}

.pagination {
  display: flex;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}

.pagination p {
  margin: 0 15px;
}

button {
  padding: 7px 20px;
  border: none;
  border-radius: 6px;
  background-color: chocolate;
  color: white;
  font: normal 16px Verdana;
  cursor: pointer;
}

button:hover {
  background-color: rgb(191, 120, 69)
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto 20px auto;
}
.searchInput
{
  width: 70%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 16px;
  padding-left: 10px;
}
